@import "../index.scss";

.homePage {
  background-color: $bg-color;
  overflow: hidden;
  &_header {
    padding: 0 40px 20px;
    font-size: 26px;
    color: white;
    @media (max-width: 750px) {
      font-size: 20px;
    }
  }
  &_title {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    color: white;
    @media (max-width: 1500px) {
      font-size: 40px;
    }
    @media (max-width: 1000px) {
      font-size: 30px;
    }
    @media (max-width: 750px) {
      font-size: 20px;
    }
    @media (max-width: 400px) {
      font-size: 18px;
    }
    &_textWrap {
      margin: 10px 0;
      font-size: 100px;
      @media (max-width: 1500px) {
        font-size: 75px;
      }
      @media (max-width: 1000px) {
        font-size: 50px;
      }
      @media (max-width: 750px) {
        font-size: 30px;
      }
      @media (max-width: 400px) {
        font-size: 20px;
      }
    }
    &_text {
      display: inline-block;
      color: $first-font-color;
      overflow: hidden;
      border-right: 3px solid;
      white-space: nowrap;
      margin: 0 auto;
      animation: typingHome 3.5s steps(27) alternate infinite,
        blink 0.4s step-end infinite alternate;
    }
  }
  &_parallaxImg {
    height: 600px;
    background: url("../img/home-bg.jpg") center/cover no-repeat fixed;
    box-shadow: 0 0 40px black;
    @media (max-width: 1000px) {
      height: 400px;
    }
    @media (max-width: 500px) {
      height: 300px;
    }
  }
  &_parallaxImgSecond {
    height: 600px;
    background: url("../img/home-bg2.jpg") center/cover no-repeat fixed;
    box-shadow: 0 0 40px black;
    @media (max-width: 1000px) {
      height: 400px;
    }
    @media (max-width: 500px) {
      height: 300px;
    }
  }
  &_decoration {
    margin: 20px 0;
    text-align: center;
    font-size: 50px;
    color: $third-font-color;
    @media (max-width: 1000px) {
      font-size: 30px;
    }
    @media (max-width: 750px) {
      font-size: 20px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
  &_about {
    text-align: center;
    margin: 30px 0;
  }
  &_aboutTitle {
    font-size: 60px;
    color: white;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
    @media (max-width: 750px) {
      font-size: 30px;
    }
    @media (max-width: 400px) {
      font-size: 20px;
    }
  }
  &_aboutSubtitle {
    font-size: 30px;
    color: $first-font-color;
    @media (max-width: 1000px) {
      font-size: 24px;
    }
    @media (max-width: 750px) {
      font-size: 18px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
  &_projects {
    text-align: center;
    margin: 30px 0;
  }
  &_projectsTitle {
    font-size: 60px;
    color: white;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
    @media (max-width: 750px) {
      font-size: 30px;
    }
    @media (max-width: 400px) {
      font-size: 20px;
    }
  }
  &_projectsSubtitle {
    font-size: 30px;
    color: $first-font-color;
    @media (max-width: 1000px) {
      font-size: 24px;
    }
    @media (max-width: 750px) {
      font-size: 18px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
  &_readMore {
    display: inline-block;
    font-size: 26px;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: $third-font-color;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    &:hover {
      background-color: $second-font-color;
    }
    @media (max-width: 1000px) {
      font-size: 20px;
    }
    @media (max-width: 750px) {
      padding: 5px;
      font-size: 18px;
    }
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }
}

@keyframes typingHome {
  from {
    width: 0;
  }
  to {
    width: 27ch;
  }
}
