@import "../index.scss";

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: $bg-color;
  transition: all 0.3s ease-in-out;
  padding: 20px 40px 0;
  &_link {
    font-size: 24px;
    color: $first-font-color;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    margin-left: 20px;
    &:focus {
      color: $second-font-color;
    }
    &:hover {
      color: $third-font-color;
    }
  }
}